@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
        /* background-image:radial-gradient(145.05% 100% at 50% 0,#1d2b41 0,#020509 57.38%,#0f1a29 88.16%); */
        background-color: #02021fee;
    }
    body{
        /* @apply h-[100vh] w-[100vw]  overflow-hidden */
        
        background-image:radial-gradient(145.05% 100% at 50% 0,#1d2b41 0,#020509 57.38%,#0f1a29 88.16%);
        
        height:100vh;
        width: 100vw;
        color: whitesmoke;
        font-family: sans-serif;
        padding: 0;
        margin: 0;
    }

    /* For WebKit-based browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 10px; /* Thin scrollbar width */
}

::-webkit-scrollbar-thumb {
    background-color: lightgrey; /* Light grey scrollbar thumb */
    border-radius: 10px; /* Rounded edges for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: grey; /* Slightly darker grey on hover */
}

::-webkit-scrollbar-track {
    background: transparent; /* Transparent track */
}

/* For Firefox */
* {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: lightgrey transparent; /* Light grey thumb, transparent track */
}
    
}

@layer utilities{
    .bg{
       background-image:radial-gradient(145.05% 100% at 50% 0,#0f1724 0,#020509 57.38%,#080e18 88.16%);
        /* background-color: #07101d; */
    }
    .fullas{
        @apply h-[100vh] w-[100vw] overflow-hidden
    }
    .transparent_blue{
        background-color: rgba(72, 84, 114, 0.315);
    }
    .transparent_tone{
             background-color: rgba(36, 39, 53, 0.521);
    }
    .bg-sender{
        background-color: #161b33;
    }

    .contactCon{
        background-color:rgb(189, 157, 15);    

    }
    .typ{
        background-color: rgb(19, 21, 36);
    }

    .button1{
        @apply flex   items-center justify-center active:scale-[0.96]  border-[1.5px]  px-12  py-1 text-[15px]  font-medium  rounded-md  leading-5 
    }

    .button1:hover{
        @apply hover:font-[600] 
        
    }
    
    /* #238636 */
    .button{
        @apply flex   items-center justify-center active:scale-[0.96]  border-[1.5px]   py-1 text-[15px]  font-medium    leading-5 
    }
}